/* Universal selector to set standards for the full page */
* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* adds variables for reused elements */
:root {
  --darkolive: darkolivegreen;
  --beige: beige;
}

/* stylized header element */
header {
  background-color: var(--darkolive); /* full background color */
  color: var(--beige); /* lighter font color to see against dark background */
  padding: 20px; /* to have space around the text */
  display: flex; /* flex so that it's responsive to all display sizes */
  align-items: center; /* align so the items are on the same line */
  justify-content: space-between; /* space-between to have the header on the left and nav links on the right */
}

/* h1 font sized to largest option so that it's the first thing you see */
h1 {
  font-size: xx-large;
}

/* for having the links in the nav be side-by-side and padded enough to be distinguishable from each other */
ul li {
  display: inline-flex; /* updated inline display to flex for responsive design */
  padding: 15px;
}

/* to make the links not have underlines, be the same color as h1, and a larger size than default */
header a {
  text-decoration: none;
  color: var(--beige);
  font-size: large;
}

/* for changing colors when hovering over the links */
a:hover {
  color: wheat;
}

/* h4 stylizing */
h4 {
  font-size: medium; /* the next size down from h3 */
  margin-right: 25px; /* to create spacing from information on the right */
}

/* adding main footer stylizing that matches the header */
footer {
  background-color: var(--darkolive); /* same background color as header */
  color: var(--beige); /* same text color as header */
  display: flex; /* to create flexbox for the whole footer area */
  flex-direction: row;
  justify-content: center; /* centering the content within the footer flexbox */
  padding: 20px; /* creating padding around the content area */
}

/* creating a specific class within the footer area */
/* uses same info as .side-divider class, but updates the color within the footer only */
footer .side-divider {
  border-right: 1px solid var(--beige); /* updates color to be beige inside the footer */
  margin-right: 25px;
}

/* affects <p> elements only within the footer */
footer p {
  margin-right: 25px; /* creates spacing between each other */
}

/* only affects links within the footer */
footer a {
  text-decoration: none;
  color: var(--beige);
  font-size: medium; /* same styling as header, but font size is smaller */
}

/* img id for properties specific to one thing */
#img-properties {
  /* sets width and height of image */
  width: 300px;
  height: 300px;
  border-radius: 200px; /* border-radius to make it be a circle shape */
  margin-right: 25px; /* margin-right to give space between image and text next to it */
}

/* cover-image class for the main welcoming image */
.cover-image {
  background-image: url("../images/pfander-family.jpg"); /* background-image for a full width image */
  background-size: cover; /* background-size set to cover so it scales to fit width */
  background-position: center 35%; /* background-position to set position of image without having to resize/crop original image */
  width: 100%; /* 100% width to fill page */
  height: 670px; /* sets height of cover image to take up full page without scrolling */
}

/* container class to create a box for flexbox area */
.container {
  margin: 50px; /* create spacing around all edges for better look */
  display: flex; /* display flex to create the flexbox */
}

/*content class to style specific area within the container */
.content {
  display: flex; /* flex display so items within this area are also it's own flexbox */
  flex-wrap: wrap; /* flex wrap so items within the content class wrap to the next line when it gets too long */
  flex-direction: row; /* row direction so flex items are inline */
  flex: 75%; /* 75% width so it doesn't take up the whole page */
  justify-content: start; /* start justification so information starts on the left side */
}

/* section-header class to stylize the specific header */
.section-header {
  text-align: end; /* end alignment so text is aligned to the right */
  flex: 20%; /* 20% width so it only takes up part of the page and can be side-by-side with the content class */
  color: var(--darkolive); /* changes the color of the text */
  padding-right: 25px; /* creates padding on the right so it's not touching the content */
  font-size: x-large; /* set to the next largest in sequence from h1 */
}

/* adds a border line between areas */
.side-divider {
  border-right: 1px solid lightslategrey; /* border-right so it's only on one side */
  margin-right: 25px; /* margin so it's not up against the content on the right side */
}

/* paragraph elements properties within content class */
.content p {
  line-height: 1.5rem; /* sets line spacing for better readability */
  flex: 65%;
}

/* this class is for the main image in the work section */
.main-work-box {
  display: flex;
  position: relative; /* relative position so the text within can be positioned to this */
  border: 4px solid var(--darkolive); /* added border to the image */
  flex: 100%; /* 100% flex to fill full area */
  margin-bottom: 10px; /* adds spacing between other images */
}

/* pseudo element to create the label for the first work image */
.main-work-box::after {
  content: "HORISEON ACCESSIBILITY RECODE"; /* what text I want it to show */
  position: absolute; /* absolute position to have the label within the image */
  bottom: 10px; /* bottom position for it to be at the bottom with some small spacing */
  background-color: var(--darkolive);
  color: var(--beige);
  font-size: large; /* the next sizing down from h2 */
  font-weight: bold; /* give it a bold weight */
  padding: 15px; /* some padding to have spacing around the text */
}

/* img properties within both work classes */
.main-work-box img,
.work-box img {
  opacity: 0.5; /* to make the image(s) opacity 50% transparent */
  width: 100%; /* fills the entire box area */
}

/* img properties within both work classes when hovered over */
.main-work-box img:hover,
.work-box img:hover {
  opacity: 1; /* brings it back to the full opacity */
}

/* uses similar properties as .main-work-box, but half the flex area */
.work-box {
  display: flex;
  position: relative; /* relative position so the text within can be positioned to this */
  border: 4px solid var(--darkolive); /* added border to the image */
  flex: 50%; /* 50% flex so there are two items on a line instead of the one */
}

/* styles the h3 text within the class */
.work-box h3 {
  position: absolute; /* absolute position to have the label within the image */
  bottom: 10px; /* bottom position for it to be at the bottom with some small spacing */
  background-color: var(--darkolive);
  color: var(--beige);
  font-size: large; /* the next sizing down from h2 */
  padding: 15px; /* adds padding around the text */
}

/* creates the breakpoint for screen sizes smaller than 768px to make it responsive */
@media screen and (max-width: 768px) {
  header, footer, .container {
    flex-direction: column; /* creates column flex direction for better sizing for smaller screen sizes */
  }
}